name: Publish to NPM
on:
  push:
    tags:
      - v*
permissions:
  id-token: write  # Required for OIDC @see https://docs.npmjs.com/trusted-publishers
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '>=20.0.0'
          registry-url: 'https://registry.npmjs.org/'
      - run: yarn
      - run: yarn run build:lib
      - run: yarn publish ./dist/libs/ngx-contextmenu
